<div class="container">
  <% if flash[:notice] %>
    <div class="flash notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <h1>Last 10 Calls</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>DateTime</th>
        <th>To</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @calls.each_with_index do |c, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= c.created_at.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= c.to_number %></td>
          <td><%= c.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= link_to "Create new call", root_path, class: "btn btn-primary" %>
  </div>
</div>